html,
body {
	margin: 0;
	padding: 0;
	user-select: none;
	scroll-behavior: smooth;
}

html {
	background-color: rgb(32, 44, 56);
	color: rgb(226, 226, 226);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Roboto, sans-serif;
}

.sheet-main-container {
	/* border: 2px solid  yellow;*/
}

.sheets-organizer {
	/* border: 2px solid  green;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.sheet-element {
	/* border: 2px solid  rgb(255, 0, 43);*/
	font-weight: bold;
	border-radius: 8px;
}

.sheet-title-container {
	/* border: 2px solid  aqua;*/
	text-align: center;
	padding: 10px 0px;
}

.sheet-numbers-grid-container {
	/* border: 2px solid  rgb(43, 255, 0);*/
	padding: 0px 7px 10px 7px;
}

.numbers-grid {
	/* border: 2px solid  rgb(207, 31, 140);*/
	display: grid;
	grid-template-columns: repeat(5, 40px);
	grid-template-rows: repeat(5, 40px);
	gap: 4px;
}

.sheet-number {
	/* border: 2px solid  rgb(235, 114, 16);*/
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.158);
	color: rgb(255, 255, 255);
	border-radius: 1%;
	font-size: 18px;
}

.line-names {
	display: grid;
	grid-template-columns: repeat(5, 40px);
	padding: 0px 0px 10px 0px;
	font-size: 20px;
	text-align: center;
	gap: 4px;
}

.line-names div {
	text-align: center;
}

.sheet-number.marked {
	background-color: rgba(255, 255, 255, 0.658);
	color: rgb(44, 44, 44);
	border-radius: 50%;
	animation-name: appearMarkOnBall;
	animation-duration: 1s;
	animation-iteration-count: 4;
	animation-timing-function: cubic-bezier(.76, .53, .97, .58);
	animation-fill-mode: both;
}

.btn-actions-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 100px;
	margin-bottom: 30px;
}

.btn-restart-game {
	display: inline-block;
	padding: 6px 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 8px;
	background-color: rgba(0, 255, 255, 0.315);
	color: white;
}


.selectNumbers-organizer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 10px;
	margin-top: 100px;
}

.numbers-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
}

.numberball {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(226, 226, 226);
	color: rgb(34, 34, 34);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
}

.markedNumberBall {
	background-color: rgb(238, 223, 13);
	color: rgb(0, 0, 0);
	border-radius: 50%;
}

.sheet-number-no-data {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.noclicknumber {
	font-family: 'Times New Roman', Times, serif;
	cursor: not-allowed;
	font-size: 30px;
}

footer {
	text-align: center;
	margin-bottom: 20px;
}


/* CELLPHONE */
@media screen and (300px < width < 400px) and (orientation: portrait) {
	.sheets-organizer {
		gap: 10px;
	}

	.numbers-grid {
		grid-template-columns: repeat(5, 30px);
		grid-template-rows: repeat(5, 30px);
	}

	.line-names {
		grid-template-columns: repeat(5, 30px);
	}

	.sheet-number {
		font-size: 15px !important;
	}

	.sheet-number-no-data {
		font-size: 12px !important;
	}

	.selectNumbers-organizer {
		gap: 20px;
	}

	.btn-actions-container{
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media screen and (800px < width < 900px) and (orientation: landscape) {
	.numbers-grid {
		grid-template-columns: repeat(5, 30px);
		grid-template-rows: repeat(5, 30px);
	}

	.line-names {
		grid-template-columns: repeat(5, 30px);
	}

	.sheet-number {
		font-size: 14px !important;
	}

	.sheet-number-no-data {
		font-size: 12px !important;
	}

	.sheets-organizer {
		gap: 22px;
	}

	.selectNumbers-organizer {
		gap: 10px;
	}

	.numberball {
		width: 42px;
		height: 42px;

	}

	.numbers-group {
		gap: 9px;
	}

	.btn-actions-container{
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

/* TABLET */
@media screen and (550px < width < 700px) and (orientation: portrait) {
	.sheets-organizer {
		gap: 22px;
	}

	.numbers-grid {
		grid-template-columns: repeat(5, 30px);
		grid-template-rows: repeat(5, 30px);
	}

	.line-names {
		grid-template-columns: repeat(5, 30px);
	}

	.sheet-number {
		font-size: 15px !important;
	}

	.sheet-number-no-data {
		font-size: 12px !important;
	}

	.selectNumbers-organizer {
		gap: 40px;
	}

	.numbers-group {
		gap: 23px;
	}
}

@media screen and (900px < width < 1000px) and (orientation: landscape) {
	.sheets-organizer {
		gap: 20px;
	}

	.numbers-grid {
		grid-template-columns: repeat(5, 38px);
		grid-template-rows: repeat(5, 38px);
	}

	.line-names {
		grid-template-columns: repeat(5, 38px);
	}

	.sheet-number {
		font-size: 15px !important;
	}

	.sheet-number-no-data {
		font-size: 12px !important;
	}

	.selectNumbers-organizer {
		gap: 10px;
	}

	.numbers-group {
		gap: 9px;
	}
}

@keyframes appearMarkOnBall {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(.1);
	}

	100% {
		transform: scale(1);
	}
}